.App {
  text-align: center;
}

.card{
  background-color: whitesmoke;
  border-radius: 5px;
  border: 1px solid #333;
  padding: 20px;
  
 

}

.row-container{
  height: 100vh;
}

.para{
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
}
h1{
  color: aliceblue;
}